.filters-container {
	height: 100%;
	width: 20%;
}

.products-container {
	height: 100%;
	width: 80%;
}

.products-content-container {
	padding: 0;
}

.filters {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.apply-filter-button {
	display: none;
}
@media screen and (max-width: 1180px) {
	.filters-container {
		width: 40%;
	}
}

@media screen and (max-width: 768px) {
	.filters-container {
		grid-column: 1/4;
		grid-row: 1/4;
		width: 100%;
		height: 200%;
		top: 0;
		left: 0;
		bottom: 0;
		position: absolute;
		background: var(--secondary-background-color);
		z-index: var(--max-z-index);
	}

	.filter-max-width,
	.filters-container > * {
		max-width: 100%;
	}

	.apply-filter-button {
		display: block;
	}

	.clear-filter-button {
		display: none;
	}

	.area-btn-container {
		display: flex;
		position: fixed;
		width: 100%;
		bottom: 0;
		background: var(--secondary-background-color);
		z-index: var(--max-z-index);
	}

	.area-dismiss-container {
		display: block;
	}
	.products-container {
		width: 100%;
		justify-content: center;
	}
	.cart-content {
		width: 100%;
	}
}
