.filters {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}
.focused > .textbox-content {
	border: var(--b-2) solid var(--secondary-color);
	border-radius: var(--br-1);
	outline: none;
}

.filter-max-width {
	max-width: 30rem;
}
.focused > .textbox-label {
	background: var(--secondary-background-color);
}

.address-modal-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: var(--max-z-index);
}

.address-modal-container {
	width: min(80%, max-content);
	height: auto;
}

.address-form-modal-container {
	width: min(80%, max-content);
	height: auto;
	background: var(--secondary-background-color);
}

.horizontal-tabs-content {
	display: block;
}

.badge-text {
	position: absolute;
	background: var(--cta-color);
	color: var(--tertiary-color);
	font-weight: bold;
	font-size: 0.9rem;
	width: 2rem;
	height: 2rem;
}

.cart-badge-text {
	top: 1rem;
	right: 12rem;
}

.wishlist-badge-text {
	top: 1rem;
	right: 20rem;
}
